.body{
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    display: block;
}

.searchBox{
    background-color: #EEEEEE;
    width: 95%;
    height: 120px;
    margin: 0 auto;
    display: block;
}

.box1{
    width: 35%;
    margin-right: 1px;
    padding: 2px;
    background-color: #7EE5DA;
    text-align: center;
    font-size: 16px;
}

.box2{
    width: 25%;
    margin-left: 1px;
    margin-right: 1px;
    padding: 2px;
    background-color: #70CCC2;
    text-align: center;
    font-size: 13px;
}

.box3{
    width: 45%;
    margin-left: 1px;
    padding: 2px;
    background-color: #62B3AA;
    text-align: center;
    font-size: 13px;
}

.boxes{
    width: 100%;
    display: inline-flex;
    margin-top: 8px;
}